# Write a function withdraw(balance, amount) that:

* Returns new balance if amount ‚â§ balance

* Returns "Insufficient Balance" otherwise

In [ ]:
def withdraw (balance,amount):
    if amount <= balance:
        return balance - amount
    else:
        return 'Insufficient Balance'
print(withdraw(2000,500))

## Write a function calculate_grade(marks) that:

* Marks ‚â• 90 ‚Üí A

* 80‚Äì89 ‚Üí B

* 70‚Äì79 ‚Üí C

* 60‚Äì69 ‚Üí D

* Else ‚Üí F

In [ ]:
def calculate_grade (marks):
    if marks >= 90:
        return "A"  
    elif marks >=80 and marks <=89:
        return "B"
    elif marks >=70 and marks <=79:
        return "C"
    elif marks >=60 and marks <=69:
        return "D"
    else:
        return "F"
print(calculate_grade(85))

## Write a function is_strong(password) that checks if the password:

* Has at least 8 characters

* Contains numbers

* Contains uppercase letters

* Contains lowercase letters

### Return True or False.

In [ ]:
def strong(password):
    return (
        len(password) >= 8
        and any(c.isdigit() for c in password)
        and any(c.isupper() for c in password)
        and any(c.islower() for c in password)
    )
print(strong("anas1234"))

## Write a function estimate_delivery(distance_km, speed_kmph) that returns how many hours the delivery will take.
### Use the formula: time = distance / speed

In [ ]:
def estimate_delivery(distance_km,speed_kmph):
    time= distance_km / speed_kmph
    return time
print(estimate_delivery(100,10))

## Mobile Data Usage Calculator

### Create a function remaining_data(total_gb, used_gb) that returns how much data is left.

In [ ]:
def remaing_data(total_gb,used_gb):
    remaing= total_gb-used_gb
    if total_gb<=used_gb:
        return "data has run out"
    else:
        return remaing
print(remaing_data(100,40))

## Write a function total_cost(tickets, price_per_ticket) that calculates the total cost.
### If tickets > 5, apply a 10% discount.

In [ ]:
def total_cost(tickets,price_per_ticket):
    cost_total= tickets*price_per_ticket
    return cost_total
print(total_cost(100,12))

## Define a function fuel_efficiency(km, liters) that returns km per liter.

In [ ]:
def fuel_effciency(km,liters):
    fueleffciency=km/liters
    return fueleffciency
print(fuel_effciency(10,5))

## Write a function extract_username(email) that returns everything before "@".

### Example: "ubaid@gmail.com" ‚Üí "ubaid"

In [ ]:
def extract_username(email):
    username=''
    for i in email:
        if i == '@':
            break
        username+=i
    return username
print(extract_username("anas@12345"))

## Write a function process_transaction(balance, amount, transaction_type) that supports:

* "deposit" ‚Üí add amount

* "withdraw" ‚Üí subtract amount

* "transfer" ‚Üí subtract amount + 1% transfer fee

### Return the updated balance.
### If amount > balance (for withdraw/transfer), return "Transaction Failed".

In [ ]:
def process_transction(balance,amount,transaction_type):
    if amount > balance:
        return "Transaction failed"
    elif transaction_type=="deposit":
        balance=balance+amount
        return balance
    elif transaction_type=="withdraw":
        balance=balance-amount
        return balance
    elif transaction_type=='transfer':
        fee = 0.01 * amount  
        balance=balance-(amount+fee)
        return balance
print(process_transction(10000,2000,withdraw))

## Create a function assign_priority(age, emergency_level) that returns:

* "High" if age > 60 or emergency_level > 7

* "Medium" if age between 40‚Äì60 or emergency_level between 4‚Äì7

* "Low" otherwise

In [ ]:
def assign_priority(age, emergency_level):
    if age > 60 or emergency_level > 7:
        return "High"
    elif 40 < age <= 60 or 4 < emergency_level <= 7:
        return "Medium"
    else:
        return "Low"
print(assign_priority(55,6))

## Write a function analyze_results(marks_list) 
### that returns:
    Highest marks

    Lowest marks
    
    Average
    
    Pass rate percentage
    Passing marks = 50
    
### Return the data in a dictionary.

In [ ]:
def analyze_results(marks):
    passing = 50
    return {
        "Highest marks": max(marks),
        "Lowest marks": min(marks),
        "Average": sum(marks)/len(marks),
        "Pass rate percentage": sum(m >= passing for m in marks)/len(marks)*100
    }
print(analyze_results([45, 67, 89, 50, 72, 38]))

## Airline Seat Booking With Constraints

### Write a function book_seat(seats, seat_requested):

### Constraints:

    If seat_requested not in seats ‚Üí return "Invalid Seat"
    
    If seat is "booked" ‚Üí return "Seat Already Booked"
    
    Otherwise book the seat and return updated seats dictionary

### Example seats dictionary:
{
  "1A": "free",
  "1B": "booked",
  "2A": "free"
}

In [ ]:
def book_seat(seats, seat_requested):
    if seat_requested not in seats:
        return "Invalid Seat"
    elif seats[seat_requested] == "booked":
        return "Already Booked"
    else:
        seats[seat_requested] = "booked"
        return seats
seats = {"1A": "free", "1B": "booked", "2A": "free"}
print(book_seat(seats, "1A"))

## Write a function calculate_tax(salary) using slabs:

* 0‚Äì50,000 ‚Üí 0%

* 50,001‚Äì100,000 ‚Üí 5%

* 100,001‚Äì200,000 ‚Üí 12%

* Above 200,000 ‚Üí 20%

### Return total tax payable.

In [ ]:
def calculate_tax(salary):
    if salary <= 50000:
        return '0% tax'
    elif salary >=50001 and salary<=100000:
        return '5% tax'
    elif salary >=100001 and salary<=200000:
        return '12% tax'
    else:
        return '20% tax'
    
print(calculate_tax(179000))

## Fraud Detection ‚Äì Suspicious Transaction Check

### Create a function is_suspicious(amount, location, hour):

    Mark transaction as suspicious if:
    
    amount > 100000
    
    OR country != "Pakistan"
    
    OR hour < 6 or hour > 22

### Return True or False.

In [ ]:
def is_suspicious(amount, country, hour):
    if amount > 100000 or country != "Pakistan" or hour < 6 or hour > 22:
        return True
    else:
        return False
print(is_suspicious(120000, "India", 3))

## Create a Python program that:

### Defines a function calculate_ticket_price(age, day)

####    Ticket price rules:

*    Age < 12 ‚Üí 200 PKR
    
*    Age 12‚Äì18 ‚Üí 300 PKR
    
*    Age > 18 ‚Üí 500 PKR

*    If day == "Wednesday", apply 20% discount

*     Print the final ticket price

### üìù Example Output:
    Final Ticket Price: 400 PKR

In [ ]:
def calculate_ticket_price(age, day):
    if age < 12:
        price = 200
    elif age <= 18:
        price = 300
    else:
        price = 500
    if day == "Wednesday":
        price *= 0.8  
    return int(price)
ticket = calculate_ticket_price(20, "Wednesday")
print(f"Final Ticket Price: {ticket} PKR")

## Create a Python program that:

### Defines a function attendance_percentage(total_classes, attended)

####    Calculates attendance percentage

   *     If percentage < 75, print
            "You are not allowed in exam"
            
   *     Otherwise print
            "You can sit in exam"

### üìù Example Output:
    Attendance: 82.5%
    You can sit in exam

In [ ]:
def attendance_percentage(total_classes, attended):
    percentage = (attended / total_classes) * 100
    if percentage < 75:
        print("You are not allowed in exam")
    else:
        print("You can sit in exam")
attendance_percentage(40, 30)

## Create a Python program that:

### Defines a function delivery_charge(distance)

####    Delivery pricing:

*    First 5 km ‚Üí Free
            
*    Next 10 km ‚Üí 20 PKR per km
            
*    Above 15 km ‚Üí 30 PKR per km
            
*    Print the final delivery cost

### üìù Example Output:
    Delivery Charge: 250 PKR

In [ ]:
def delivery_charge(distance):
    if distance <= 5:
        cost = 0
    elif distance <= 15:
        cost =(distance - 5) *20
    else:
        cost =(10 * 20)+ (distance - 15) * 30
    return cost
print(delivery_charge(5))

## Create a Python program that:

#### Defines a function count_character(text, char)

    Prints how many times char appears in text.

### üìù Example Output:
    Character 'a' appears 4 times.

In [ ]:
def count_character(text, char):
    count = text.count(char)   
    return f"Character '{char}' appears {count} times." 
text = "anas"
char = "a"
result = count_character(text, char)
print(result)

## Create a Python program that:

### Defines a function called generate_bill(items)

    items will be a list of dictionaries, where each dictionary contains:

        "name" ‚Üí product name
        
        "price" ‚Üí product price
        
        "qty" ‚Üí quantity purchased
        
        The function should:

### Calculate the subtotal (price √ó qty for each item)

    Add 8% tax
    
    Add 5% service charge
    
    Return the final bill
    
    Also print each item in this format:
    
    ItemName ‚Äî Qty: X ‚Äî Total: Y

### üìù Example Input:
    items = [
        {"name": "Burger", "price": 450, "qty": 2},
        {"name": "Fries", "price": 200, "qty": 1},
        {"name": "Drink", "price": 150, "qty": 3}
    ]

### üìù Example Output:
    Burger ‚Äî Qty: 2 ‚Äî Total: 900
    Fries ‚Äî Qty: 1 ‚Äî Total: 200
    Drink ‚Äî Qty: 3 ‚Äî Total: 450
    Subtotal: 1550
    Tax (8%): 124.0
    Service Charge (5%): 77.5
    Final Bill: 1751.5

In [ ]:
def generate_bill(items):
    subtotal = sum(item["price"] * item["qty"] for item in items)
    tax = subtotal * 0.08
    service_charge = subtotal * 0.05
    final_bill = subtotal + tax + service_charge
    lines = [f"{item['name']} ‚Äî Qty: {item['qty']} ‚Äî Total: {item['price'] * item['qty']}" for item in items] + [
        f"Subtotal: {subtotal}",
        f"Tax (8%): {tax}",
        f"Service Charge (5%): {service_charge}",
        f"Final Bill: {final_bill}"
    ]
    return "\n".join(lines)
items = [
    {"name": "Burger", "price": 450, "qty": 2},
    {"name": "Fries", "price": 200, "qty": 1},
    {"name": "Drink", "price": 150, "qty": 3}
]
print(generate_bill(items))

## Create a Python program that:

### Defines a function called generate_salary(employee)

####    The employee parameter will be a dictionary containing:

        "name" ‚Üí employee name
        
        "basic" ‚Üí basic salary
        
        "overtime_hours" ‚Üí extra hours worked
        
        "performance" ‚Üí string ("excellent", "good", "average", "poor")

### The function must:

#####    ‚úî 1. Calculate Gross Salary
    
    Gross = basic salary
    
    overtime pay
    
    performance bonus
    
#####    ‚úî 2. Overtime Pay Rules
    
    1 overtime hour = 300 PKR
    
####    ‚úî 3. Performance Bonus Rules
    
    excellent ‚Üí 20% of basic
    
    good ‚Üí 10%
    
    average ‚Üí 5%
    
    poor ‚Üí 0%
    
#####    ‚úî 4. Apply Deductions
    
    Income tax = 12% of gross
    
    Medical insurance = 1000 PKR
    
#####    ‚úî 5. Return & print a full salary slip with this format:
        Employee: Ali
        Basic Salary: 50000
        Overtime Pay: 6000
        Performance Bonus: 10000
        Gross Salary: 66000
        Income Tax (12%): 7920
        Medical Insurance: 1000
        Net Salary: 57080

### üìù Example Input:
    employee = {
        "name": "Ali",
        "basic": 50000,
        "overtime_hours": 20,
        "performance": "excellent"
    }

### üìù Example Output:
    Employee: Ali
    Basic Salary: 50000
    Overtime Pay: 6000
    Performance Bonus: 10000
    Gross Salary: 66000
    Income Tax (12%): 7920
    Medical Insurance: 1000
    Net Salary: 57080

## Create a Python program that:

### Defines a function calculate_patient_bill(patient)

    patient is a dictionary with keys: "name", "days_admitted", "room_type", "tests"

### Rules:

    Room charges per day:
    
        "General": 2000
        
        "Semi-Private": 4000
        
        "Private": 6000
        
        Test charges = sum of all test costs in tests list
        
        Apply 10% insurance discount on total
        
        Print the full bill with patient name, room charges, test charges, discount, and net bill

### üìù Example Input:
    patient = {
        "name": "Ali",
        "days_admitted": 3,
        "room_type": "Private",
        "tests": [1500, 2000, 500]
    }

### üìù Example Output:
    Patient: Ali
    Room Charges: 18000
    Test Charges: 4000
    Subtotal: 22000
    Insurance Discount (10%): 2200
    Net Bill: 19800

## Create a Python program that:

### Defines a function course_progress(student)

    student is a dictionary: "name", "lessons_completed", "total_lessons", "quizzes" (list of scores)

### The function should:

    Calculate lesson completion %
    
    Calculate average quiz score
    
    Determine progress status:
    
    ‚â• 80% completion ‚Üí "On Track"
    
    50‚Äì79% ‚Üí "Needs Improvement"
    
    <50% ‚Üí "Behind"
    
    Print a progress report

### üìù Example Input:
    student = {
        "name": "Ubaid",
        "lessons_completed": 8,
        "total_lessons": 10,
        "quizzes": [80, 75, 90]
    }

### üìù Example Output:
    Student: Ubaid
    Lesson Completion: 80%
    Average Quiz Score: 81.7
    Progress Status: On Track

## Create a Python program that:

    Declares a global list tasks = []

    Defines a function add_task(task) ‚Üí adds task to tasks
    
    Defines a function remove_task(task) ‚Üí removes task if exists, else print "Task not found"
    
    Defines a function show_tasks() ‚Üí prints all current tasks

### üìù Example Function Calls:
    add_task("Complete Assignment")
    add_task("Read Book")
    remove_task("Sleep")
    show_tasks()

### üìù Example Output:
    Task not found
    Current Tasks: ['Complete Assignment', 'Read Book']

## Create a Python program that:

### You have a list of employees:

    employees = [
        {"name": "Ali", "salary": 50000, "performance": 0.9},
        {"name": "Sara", "salary": 40000, "performance": 0.7},
        {"name": "Omar", "salary": 45000, "performance": 0.5}
    ]
    
    
    Using a lambda function:
    
    Calculate bonus = salary √ó performance for each employee
    
    Print employees whose bonus ‚â• 40000

### üìù Example Output:
    Ali ‚Äî Bonus: 45000

## Create a Python program that:

### You have a list of students:

    students = [
        {"name": "Ubaid", "scores": [80, 90, 70]},
        {"name": "Ali", "scores": [60, 75, 65]},
        {"name": "Sara", "scores": [95, 85, 90]}
    ]
    
    
    Using a lambda function:
    
    Sort students by average score in descending order
    
    Print student names and average scores

### üìù Example Output:
    Sara ‚Äî Average: 90.0
    Ubaid ‚Äî Average: 80.0
    Ali ‚Äî Average: 66.7

## Create a Python program that:

### You have a list of daily temperatures:

    temperatures = [22, 35, 28, 40, 18, 30]
    
    
    Using a lambda function:
    
    Filter all temperatures above 30¬∞C
    
    Print the hot days

### üìù Example Output:
    Hot Days: [35, 40]

## A school wants to identify top-performing students:

### Each student has name and average_score

    Use a lambda function to filter students with average score ‚â• 85
    
    Print names and scores
    
### üì• Input Example:
    students = [
        {"name": "Ubaid", "average_score": 80},
        {"name": "Ali", "average_score": 90},
        {"name": "Sara", "average_score": 88}
    ]

### üìù Example Output:
    Ali ‚Äî 90
    Sara ‚Äî 88

## An online store calculates final prices dynamically:

### Function calculate_discount(price, category) ‚Üí category-based discounts:

    Electronics > $1000 ‚Üí 15%
    
    Clothing > $500 ‚Üí 10%
    
    Groceries ‚Üí 5%
    
    Function apply_coupon(price, coupon_code) ‚Üí nested function applies coupon:
    
    SAVE10 ‚Üí $10 off
    
    SAVE20 ‚Üí $20 off if price > $200
    
    Function final_price(price, category, coupon) ‚Üí combines discount + coupon + tax (8%)

### üì• Input Example:
    final_price(1200, "Electronics", "SAVE10")

### üìù Example Output:
    Price after discount: 1020
    Price after coupon: 1010
    Final Price with Tax: 1090.8

## A hotel calculates room charges:

### Function room_charges(nights, room_type) ‚Üí rates:

    Standard = $100/night
    
    Deluxe = $200/night
    
    Suite = $400/night
    
    Function additional_services(services) ‚Üí Breakfast=$20, Spa=$50, Gym=$10
    
    Function apply_membership_discount(amount, membership_years) ‚Üí 5% discount if membership > 2 years, 10% if >5 years
    
    Function total_bill(nights, room_type, services, membership_years) ‚Üí prints detailed bill

### üì• Input Example:
    total_bill(4, "Deluxe", ["Breakfast", "Spa"], 6)

### üìù Example Output:
Room Charges: 800
Additional Services: 70
Membership Discount: 87
Total Amount: 783

## A school calculates student performance:

### Each student has marks in Math, Science, English, History

    Function average_score(marks) ‚Üí calculates average
    
    Function grade(avg) ‚Üí nested function assigns grade:
    
    ‚â•90 ‚Üí A, 80‚Äì89 ‚Üí B, 70‚Äì79 ‚Üí C, 60‚Äì69 ‚Üí D, <60 ‚Üí F
    
    Function honor_roll(avg, extracurricular) ‚Üí gives "Honor Roll" if avg ‚â•85 and extracurricular ‚â•3
    
    Function student_summary(student) ‚Üí prints name, average, grade, honor roll status

### üì• Input Example:
    student = {"name":"Ali", "marks":[85,90,80,95], "extracurricular":3}
    student_summary(student)

### üìù Example Output:
    Name: Ali
    Average Score: 87.5
    Grade: B
    Honor Roll: Yes

## A store applies layered discounts:

    Function base_discount(price) ‚Üí 5%
    
    Function category_discount(price, category) ‚Üí Electronics=10%, Clothing=8%, Grocery=3%
    
    Function coupon_discoun
    
    Function final_price(price, category, coupon) ‚Üí nested calls calculate total discounts + final price

### üì• Input Example:
    final_price(500, "Electronics", "SAVE10")

### üìù Example Output:
    Price after base discount: 475
    Price after category discount: 427.5
    Price after coupon: 417.5
    Final Price: 451.3 (with 8% tax)