## üè™ 1. Shopping Cart System

### Goal:
    Create a shopping cart program that allows users to add items to their cart.
    Stop adding items when the user types "done".

### Steps:

    Ask the user to enter product names.
    
    Add each item to a list.
    
    If user types "done" ‚Üí use break.
    
    Print all items added to the cart.

### Example:

    Enter item: Shirt  
    Enter item: Shoes  
    Enter item: done  
    Items in your cart: ['Shirt', 'Shoes']

In [ ]:
cart=[]
while True:
    item=input("Enter item: ")
    if item.lower()=="done":
        break
    cart.append(item)
print("Items in your cart:", cart)

## Student Marks Entry

### Goal:
    Record student marks and skip invalid entries.

### Steps:

    Create an empty list marks = [].
    
    Ask user to enter marks for 5 students.
    
    If marks < 0 or > 100 ‚Üí print ‚ÄúInvalid marks‚Äù and continue.
    
    If user enters -1 ‚Üí stop taking input (break).
    
    Print valid marks and their average.

### Example:

    Enter marks: 90  
    Enter marks: 105 ‚Üí Invalid marks  
    Enter marks: 80  
    Enter marks: -1 ‚Üí stop  
    Valid Marks: [90, 80]  
    Average = 85.0

In [ ]:
marks = []
for i in range(5):
    m=int(input("Enter marks: "))
    if m==-1:
        break
    if m<0 or m>100:
        print("Invalid marks")
        continue
    marks.append(m)
if marks:
    print("Valid Marks:", marks)
    Average=sum(marks)/len(marks)
    print(Average )

## Class Attendance Tracker

### Goal:
    Track only present students using continue.

### Steps:

    Have a list of students:
    
    students = ["Ali", "Sara", "Ahmed", "Ayesha"]
    
    
    Loop through each student.
    
    Ask "Is <name> present (yes/no)?"
    
    If ‚Äúno‚Äù ‚Üí use continue to skip.
    
    Add only present students to a present_list.

### Example:

    Is Ali present? yes  
    Is Sara present? no  
    Is Ahmed present? yes  
    Is Ayesha present? yes  
    Present Students: ['Ali', 'Ahmed', 'Ayesha']

In [ ]:
students=["Ali","Sara","Ahmed","Ayesha"]
present_list=[]
for name in students:
    status=input(f"Is {name} present (yes/no)? ")
    if status.lower()=="no":
        continue
    present_list.append(name)

print("Present Students:", present_list)

## Traffic Light System

### Goal:
    Simulate traffic light behavior.

### Task:

    Ask user to input current light color (red, yellow, or green).
    
    Use nested conditions to print what the driver should do.

### Example:

    Enter light color: red
    Stop! Wait for green light.

In [ ]:
color=input("Enter light color: ")
if color=="Red":
    print("Stop! Wait for green light.")
elif color=="Yellow":
    print("Slow down.")
elif color=="Green":
    print("Go!")
else:
    print("Invalid color.")

## üè® 8. Hotel Room Booking

### Goal:
    Manage simple room booking.

### Task:

    Create a list of rooms [101, 102, 103, 104, 105]
    
    Ask user to choose a room.
    
    If room already booked, print ‚ÄúRoom not available.‚Äù
    
    Continue until all rooms are booked.

### Example:

    Available rooms: [101, 102, 103, 104, 105]
    Choose room: 103
    Room 103 booked successfully!

In [ ]:
rooms=[101, 102, 103, 104, 105]
booked=[]
while rooms:
    print("Available rooms:", rooms)
    choice=int(input("Choose room: "))
    if choice in rooms:
        rooms.remove(choice)
        booked.append(choice)
        print("Room booked successfully!")
    else:
        print("Room not available.")

print("All rooms booked!")

## üìÖ 9. Daily Task Reminder

### Goal:
    Create a daily to-do list.

### Task:

    Ask user to enter 5 tasks.
    
    Print all tasks using a loop.
    
    Then allow user to remove a completed task.

### Example:

    Enter task 1: Study
    Enter task 2: Gym
    Today's Tasks: ['Study', 'Gym', 'Read']
    Enter completed task: Gym
    Remaining Tasks: ['Study', 'Read']

In [ ]:
tasks=[]
for i in range(5):
    task=input(f"Enter task {i+1}: ")
    tasks.append(task)
print("Today's Tasks:", tasks)
done=input("Enter completed task: ")
if done in tasks:
    tasks.remove(done)
print("Remaining Tasks:", tasks)

## Fast Food Ordering with Stop Option

### Goal:
    Simulate ordering from a fast food menu.
    Stop ordering when the user says ‚Äústop‚Äù.

### Steps:


    menu = ["Burger", "Pizza", "Fries", "Drink"]
        
    Use a for loop with a large range (like for i in range(100)).
        
    Ask the user to input an item.
        
    If item not in menu ‚Üí continue.
        
    If item == ‚Äústop‚Äù ‚Üí break.
        
    Store valid items and show total order.

### Example:

    Enter item: Burger  
    Enter item: Ice Cream ‚Üí Not on menu  
    Enter item: Fries  
    Enter item: stop  
    Your order: ['Burger', 'Fries']

In [ ]:
menu=["Burger", "Pizza", "Fries", "Drink"]
order=[]
for i in range(100):
    item=input("Enter item: ")
    if item.lower()=="stop":
        break
    if item not in menu:
        print("Not on menu")
        continue
    order.append(item)
print("Your order:", order)

## ATM Simulation

### Goal:
    Simulate simple ATM operations using for and stop after 3 tries.

### Steps:

    Set correct PIN = 1234.
    
    Use for i in range(3) for 3 attempts.
    
    If wrong PIN ‚Üí print ‚ÄúTry again‚Äù and continue.
    
    If correct PIN ‚Üí print menu and break.

### Example:

    Enter PIN: 1111 ‚Üí Wrong PIN. Try again.
    Enter PIN: 2222 ‚Üí Wrong PIN. Try again.
    Enter PIN: 1234 ‚Üí Access Granted!

In [ ]:
correct_pin = 1234
for i in range(3):
    pin = int(input("Enter PIN: "))
    if pin == correct_pin:
        print("Access Granted!")
        break
    else:
        print("Wrong PIN. Try again.")

## Employee List Search

### Goal:
    Find an employee name from the list and stop when found.

### Steps:

    employees = ["Ali", "Sara", "Ahmed", "Ayesha", "Bilal"]
    
    Ask user for name to search.
    
    Loop through employees.
    
    If name found ‚Üí print ‚ÄúFound‚Äù and break.
    
    If not found after loop ‚Üí print ‚ÄúNot found‚Äù.

### Example:

    Enter employee name: Ahmed  
    Employee found in record.

In [ ]:
employees=["Ali", "Sara", "Ahmed", "Ayesha", "Bilal"]
name=input("Enter employee name: ")
for emp in employees:
    if emp==name:
        print("Employee found in record.")
        break
else:
    print("Employee not found.")

## Bank Transaction Log

### Goal:
    Record 5 transactions and skip invalid amounts.

### Steps:

    Ask the user to enter deposit amounts (positive integers).
    
    If amount <= 0 ‚Üí continue.
    
    If amount > 10000 ‚Üí stop using break.
    
    Print total valid deposits.

Example:

    Enter amount: 500  
    Enter amount: 200  
    Enter amount: -50 ‚Üí Invalid, skipped  
    Enter amount: 12000 ‚Üí Exceeds limit, stop.  
    Valid Deposits: [500, 200]

In [ ]:
deposits=[]
for i in range(5):
    amount=int(input("Enter amount: "))
    if amount>10000:
        print("Exceeds limit, stop.")
        break
    if amount<=0:
        print("Invalid, skipped")
        continue
    deposits.append(amount)
print("Valid Deposits:", deposits)
print("Total =", sum(deposits))

## Car Rental System

### Goal:
    Create a car rental booking system.

### Steps:

    Cars = ["Civic", "Corolla", "City", "Alto"]
    
    Use a for loop to let multiple users book.
    
    If user enters "stop" ‚Üí break.
    
    If car not in list ‚Üí continue (invalid).
    
    Add valid bookings to booked_cars list.

### Example:

    Enter car name: Civic  
    Enter car name: Alto  
    Enter car name: Tesla ‚Üí Not available  
    Enter car name: stop  
    Booked Cars: ['Civic', 'Alto']

In [ ]:
cars=["Civic", "Corolla", "City", "Alto"]
booked_cars=[]
for i in range(10):
    car=input("Enter car name: ")
    if car.lower()=="stop":
        break
    if car not in cars:
        print("Not available")
        continue
    booked_cars.append(car)
print( booked_cars)

## Discount Offer Program

### Goal:
    Offer a discount only for specific items.

### Steps:

    List: items = ["Shoes", "Bag", "Watch", "Shirt", "Jeans"]
    
    Ask user to enter item names.
    
    If item not in list ‚Üí continue
    
    If item == ‚ÄúShoes‚Äù ‚Üí print ‚Äú50% discount!‚Äù
    
    Stop program when user enters "exit" using break.

### Example:
    
    Enter item: Bag ‚Üí Added to cart
    Enter item: Shoes ‚Üí 50% discount!
    Enter item: exit ‚Üí Program ended

In [ ]:
items=["Shoes","Bag","Watch","Shirt","Jeans"]
while True:
    item=input("Enter item: ")
    if item.lower()=="exit":
        break
    if item not in items:
        continue
    if item=="Shoes":
        print("50% discount!")
    else:
        print("Added to cart")

## Course Registration System

### Goal:
    Allow students to register for available courses.

### Steps:

    courses = ["AI", "Python", "Math", "Physics"]
    
    Loop for multiple registrations.
    
    If course not in list ‚Üí print ‚ÄúNot available‚Äù and continue
    
    If user enters ‚Äúexit‚Äù ‚Üí break
    
    Show registered courses.

### Example:

    Enter course: Python  
    Enter course: Biology ‚Üí Not available  
    Enter course: AI  
    Enter course: exit  
    Registered: ['Python', 'AI']

In [ ]:
courses=["AI","Python","Math","Physics"]
registered=[]
while True:
    course=input("Enter course: ")
    if course.lower()=="exit":
        break
    if course not in courses:
        print("Not available")
        continue
    registered.append(course)
print("Registered:", registered)

## Electricity Bill Tracker

### Goal:
    Take user input for monthly bills, stop if user enters 0.

### Steps:

    Loop 12 times for months.
    
    If bill = 0 ‚Üí break
    
    Add valid bills to list.
    
    Print total and average.

### Example:

    Enter bill for month 1: 1500  
    Enter bill for month 2: 1800  
    Enter bill for month 3: 0 ‚Üí Stop  
    Total = 3300, Average = 1650.0

In [ ]:
bills=[]
for i in range(12):
    bill=int(input(f"Enter bill for month {i+1}: "))
    if bill==0:
        break
    bills.append(bill)
if bills:
    print("Total =", sum(bills))
    print("Average =", sum(bills)/len(bills))

## School Marks Report
### Goal:

    Take input for multiple students‚Äô marks in 3 subjects and calculate their total and average.

### Steps:

    Outer loop ‚Üí for each student (3 students).
    
    Inner loop ‚Üí take marks for 3 subjects.
    
    Store each student‚Äôs total in a list.
    
    Print all totals and class average.

### Example:
    Enter marks for Student 1:
    Subject 1: 80
    Subject 2: 75
    Subject 3: 90
    Enter marks for Student 2:
    Subject 1: 60
    Subject 2: 70
    Subject 3: 65
    ‚Üí Output: [245, 195]

In [ ]:
totals=[]
for i in range(3):
    total=0
    print(f"Student {i+1}")
    for j in range(3):
        marks=int(input(f"Subject {j+1}: "))
        total+=marks
    totals.append(total)
print("Totals:", totals)
print("Class Average:", sum(totals)/len(totals))

## Shop Sales Tracker
### Goal:

    Track daily sales of 3 products over 5 days and calculate the total revenue.

### Steps:

    Outer loop ‚Üí iterate over 5 days.
    
    Inner loop ‚Üí take sales amount for 3 products each day.
    
    Store daily total in a list.
    
    If any product sale = 0 ‚Üí continue (skip that product).
    
    Print all daily totals and grand total.

### Example:
    Day 1:
    Product 1: 200
    Product 2: 150
    Product 3: 0 ‚Üí skipped
    Day 2:
    Product 1: 300
    Product 2: 250
    Product 3: 400
    ‚Üí Daily Totals = [350, 950], Grand Total = 1300

In [ ]:
daily_totals=[]
for day in range(5):
    total=0
    print(f"Day {day+1}")
    for product in range(3):
        sale = int(input(f"Product {product+1}: "))
        if sale==0:
            continue
        total+=sale
    daily_totals.append(total)
print("Daily Totals=",daily_totals)
print("Grand Total=",sum(daily_totals))

## Student Attendance Tracker
### Goal:

    Record attendance (Present/Absent) for multiple classes and students.

### Steps:

    Outer loop ‚Üí each class (2 classes).
    
    Inner loop ‚Üí each student (3 students).
    
    Store "P" or "A" in a nested list.

    Print full attendance chart.

### Example:
    Class 1:
    Student 1 (P/A): P
    Student 2 (P/A): A
    Student 3 (P/A): P
    Class 2:
    Student 1 (P/A): P
    Student 2 (P/A): P
    Student 3 (P/A): P
    Output: [['P', 'A', 'P'], ['P', 'P', 'P']]

In [ ]:
attendance=[]
for c in range(2):
    class_att=[]
    print(f"Class {c+1}")
    for s in range(3):
        status=input(f"Student {s+1} (P/A): ")
        class_att.append(status)
    attendance.append(class_att)
print(attendance)

## Cinema Seat Booking System
### Goal:

    Take user input for seat availability across rows and columns, and mark booked seats.

### Steps:

    Outer loop ‚Üí for each row (3 rows).
    
    Inner loop ‚Üí for 5 seats in that row.
    
    Ask if seat is booked (Y/N).
    
    If booked ‚Üí add ‚ÄúBooked‚Äù else ‚ÄúAvailable‚Äù.
    
    Store in nested list and print seating chart.

### Example:
    Row 1:
    Seat 1 (Y/N): Y
    Seat 2 (Y/N): N
    Seat 3 (Y/N): Y
    Seat 4 (Y/N): N
    Seat 5 (Y/N): N
    Row 2:
    Seat 1 (Y/N): Y
    Seat 2 (Y/N): Y
    Seat 3 (Y/N): Y
    Seat 4 (Y/N): Y
    Seat 5 (Y/N): N
    
    Output:
    [['Booked','Available','Booked','Available','Available'],
     ['Booked','Booked','Booked','Booked','Available']]

In [ ]:
seat=[]
for r in range(3):
    row=[]
    print(f"Row {r+1}")
    for s in range(5):
        status=input(f"Seat {s+1} (Y/N): ")
        if status.lower()=="y":
            row.append("Booked")
        else:
            row.append("Available")
    seat.append(row)
print(seat)

## Multiplication Table Generator
### Goal:

    Generate multiplication tables for multiple numbers using nested loops.

### Steps:

    Outer loop ‚Üí for numbers (2 to 5).
    
    Inner loop ‚Üí multiply each number by 1‚Äì10.
    
    Print table for each number.
    
    Skip number 4 using continue.

### Example:
    2 √ó 1 = 2  
    ...  
    2 √ó 10 = 20  
    3 √ó 1 = 3  
    ...  
    (skip 4)  
    5 √ó 1 = 5  
    ...  
    5 √ó 10 = 50

In [ ]:
for num in range(2, 6):
    if num ==4:
        continue
    for i in range(1, 11):
        print(f"{num} x {i} = {num*i}")

## Hotel Room Booking Tracker
### Goal:

    Record bookings for rooms on each floor.

### Steps:

    Outer loop ‚Üí for 3 floors.
    
    Inner loop ‚Üí for 4 rooms per floor.
    
    Ask user if booked (Y/N).
    
    Count total booked and available rooms.
    
    Print summary per floor.

### Example:
    Floor 1:
    Room 1: Y
    Room 2: N
    Room 3: N
    Room 4: Y
    Floor 2:
    Room 1: Y
    Room 2: Y
    Room 3: Y
    Room 4: Y
    ‚Üí Output: Floor 1 = 2 booked, Floor 2 = 4 booked

In [ ]:
for floor in range(3):
    booked =0
    print(f"Floor {floor+1}")
    for room in range(4):
        status = input(f"Room {room+1} (Y/N): ")
        if status.lower() =="y":
            booked+= 1
    print(f"Floor {floor+1} = {booked} booked")

## Invoice Tax Calculator
### Goal:

Take multiple items in multiple invoices and calculate tax per invoice.

### Steps:

Outer loop ‚Üí for 3 invoices.

Inner loop ‚Üí 4 items each.

Input item price, add to list.

Calculate total + 10% tax.

Print invoice total.

### Example:
    Invoice 1:
    Items: [100, 200, 300, 400]
    Invoice 2:
    Items: [250, 150, 350, 250]
    ‚Üí Totals: [1100, 1100]

In [ ]:
for inv in range(3):
    total=0
    print(f"Invoice {inv+1}")
    for item in range(4):
        price=int(input("Enter item price: "))
        total+=price
    total_with_tax=total+ total* 0.10
    print("Invoice Total =", total_with_tax)

## Student Result Sheet
### Goal:

    Generate report cards for each student in a class.

### Steps:

    Outer loop ‚Üí 5 students.
    
    Inner loop ‚Üí 4 subjects.

    If marks < 33 ‚Üí print ‚ÄúFailed in Subject‚Äù.

    Calculate total and grade per student.

### Example:
    Student 1: [80, 90, 70, 85] ‚Üí Grade: A  
    Student 2: [50, 32, 45, 40] ‚Üí Failed in Subject 2

In [ ]:
for s in range(5):
    total =0
    failed= False
    print(f"Student {s+1}")
    for sub in range(4):
        marks =int(input(f"Subject {sub+1}: "))
        if marks<33:
            print("Failed in Subject", sub+1)
            failed=True
        total+=marks
    avg = total / 4
    if not failed:
        if avg >= 80:
            grade = "A"
        elif avg >= 60:
            grade = "B"
        else:
            grade = "C"
        print("Grade:", grade)

## Holiday Package Evaluator
### Goal:

Compare multiple travel packages across features like hotel, transport, food.

### Steps:

Outer loop ‚Üí 3 packages.

Inner loop ‚Üí 3 features.

Input rating out of 5.

Skip if rating = 0.

Print average rating per package.

### Example:
Package 1: [4, 5, 5] ‚Üí Avg = 4.67  
Package 2: [3, 4, 0] ‚Üí Avg = 3.5

In [ ]:
for p in range(3):
    total = 0
    count = 0
    print(f"Package {p+1}")
    for f in range(3):
        rating = int(input("Enter rating (0-5): "))
        if rating == 0:
            continue
        total += rating
        count += 1
    if count > 0:
        print("Average =", total/count)